<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">Node Auth</h3>
                    <nav>
                        <ul class="nav masthead-nav">
                            <li id="home"><a href="/">Home</a></li>
                            <li id="signup"><a href="/auth/signup">Signup</a></li>
                            <li id="login"><a href="/auth/login">Login</a></li>
                        </ul>
                    </nav>
                </div>
            </div>